
.allBlogs{
    width: 100%;
    min-height: 600px;
    display: flex;
    margin-top: 70px;
    gap:20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}








/* start first-child  */


.allBlogs .allBlogs-card{
    width: 40%;
    height: 240px;
    margin-bottom: 50px;
    display: flex;
    background-color: #1C1C1F;
    border: 1px solid #2D2D2F;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    align-items: flex-start;
    justify-content: center;
}
.allBlogs .allBlogs-card:hover{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}



.allBlogs .allBlogs-card .test-span{
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
    background-image: radial-gradient(circle, var(--min-color) 1px, transparent 1px);
    background-size: 10px 10px;
    z-index: 1;
    position: absolute;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.allBlogs .allBlogs-card .test-span::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    top: -33px;
    left: 12%;
    bottom: 10%;
    background: radial-gradient(circle, var(--minor-color), transparent 70%);
    border-radius: 10px;
    z-index: -1; 
}
.allBlogs .allBlogs-card .test-span::after {
    content: "";
    width: 100%;
    height: 76%;
    position: absolute;
    top: 114px;
    left: -54%;
    bottom: 10%;
    transform: rotate(40deg);
    box-shadow: 0 0 114px 105px #1C1C1F;
    background-color: #1C1C1F;
    z-index: -1;
}



.allBlogs .allBlogs-card .allBlogs-img{
    position: relative;
    width: 50% ;
    height: 100% !important;
    
}

.allBlogs .allBlogs-card  .allBlogs-img img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.allBlogs .allBlogs-card  .allBlogs-content{
    width: 50%;
    height: 100%;
    padding: 0 12px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.allBlogs .allBlogs-card .title {
    background-color: #1C1C1F;
    position: absolute;
    color: white;
    top: -48px;
    left: -1px;
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    text-align: justify;
    border: 1px solid;
    border-color: #2D2D2F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
        align-items: center;
        justify-content: space-between;
}



.allBlogs .allBlogs-card .title h2{
    width: 50%;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 1; 
}
.allBlogs .allBlogs-card .title .blog-date{
    color: #ffff;
    font-size: 15px;
}

.allBlogs .allBlogs-card  .allBlogs-des{
    text-align: justify;
    color: white;
    font-size: 15px;
    font-family: system-ui;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 8; 
    position: relative;
    z-index: 2;
}




.allBlogs .allBlogs-card  .icons{
    width: 111px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: static !important;
    margin-top: 9px;
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}

.allBlogs .lord-icon{
    width: 50px !important;
    height: 50px !important;
    }
    

/* end first-child  */





@media (max-width:995px) {

    .allBlogs .allBlogs-card{
        width: 90% !important;
        display: flex !important;
        margin-top: 50px !important;

    }


    .allBlogs .allBlogs-card .allBlogs-img{
        width: 50% !important;
        height: 100% !important;
        
    }
    
    .allBlogs .allBlogs-card .allBlogs-img img{
        width: 100% !important;
        height: 100% !important;
        object-position: left;
    }
    

    .allBlogs .allBlogs-card .allBlogs-content{
        width: 50%;
        height: 100%;
        padding: 0 12px;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .allBlogs .allBlogs-card .allBlogs-date{
        text-align: end;
        color: #ffff;
        position: absolute;
        top: 6px;
        left: 5px;
    }

    .allBlogs .allBlogs-card .line-2{
        width: 100%;
        position: absolute;
        top: 25px;
        display: block;
        height: 2px;
        background-color: var(--min-color);
        box-shadow: 0px 0px 5px 2px var(--min-color);
    }
    
    .allBlogs .allBlogs-card .icons{
        width: 111px !important;

        position: static !important;
    }
    


    .allBlogs .allBlogs-card .allBlogs-des{
        text-align: justify;
        color: white;
        font-size: 16px;
        font-family: system-ui;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        -webkit-line-clamp: 4; 
    }
    
}


@media (max-width:640px) {
    .allBlogs .allBlogs-card .allBlogs-img{
        position: absolute;
        left: 0 !important ;
        width: 100% !important;
        height: 100% !important;
        
    }
    .allBlogs .allBlogs-card .allBlogs-content {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.463);
    }
}