

.cards {
    width: 100%;
    display: flex;
    padding: 0 20px;
    gap: 55px 0;
    height: 85vh;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
overflow-y: auto;
}



.cards .card {
    position: relative;
    margin: 5px;
    width: 450px;
    height: 230px;
    background-color: #1C1C1F;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #2D2D2F;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.cards .card:hover {
    transform:scale(1.09) ;
    -webkit-transform:scale(1.09) ;
    -moz-transform:scale(1.09) ;
    -ms-transform:scale(1.09) ;
    -o-transform:scale(1.09) ;
}






.cards .Instructions{
    width: 100%;
    background-color: #1C1C1F;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.cards .Instructions .dots{
    display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
}









.cards .card .img-1{

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cards .card .title {
    background-color: #1C1C1F;
    position: absolute;
    top: -38px;
    left: -1px;
    width: 80%;
    padding: 4px;
    border-radius: 5px;
    text-align: justify;
    border: 1px solid;
    border-color: #2D2D2F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 1; 
}


.cards .card .title .icon{
    width: 55px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0px;
    display: flex;
    justify-content: flex-end;
}

.cards .card .dots {
    position: absolute;
    right: 5px;
    top: -30px;
    display: flex;
}

.cards .card .dots .red ,
.Instructions .dots .red{
    background-color: red;
    width: 10px;
    height: 10px;
    display: block;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px red;

}

.cards .card .dots .green ,
.Instructions .dots .green{
    background-color: #09b309;
    width: 10px;
    height: 10px;
    display: block;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px #09b309;
}

.cards .card .dots .orange ,
.Instructions .dots .orange{
    background-color: orange;
    width: 10px;
    height: 10px;
    display: block;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px orange;

}

.more {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    z-index: 99;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    top: 105px;
    left: 35px;
    border: 0;
    border-radius: 24px;
    background: #1c1c1e;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.145), 0 11px 40px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.more:hover {
    width: 180px;
    padding: 0 10px 0 0;
}

.more .content-more {
    width: 200px;
    position: absolute;
}

.more .plus {
    margin-top: 4px;
    margin-left: 6px;
}



@media (max-width:1278px) {
    .card {
        width: 45%;
    }
}

@media (max-width:845px) {
    .cards {
        justify-content: center;
        width: 100%;
    }
    .card{
        width: 350px;
        
    }
    .cards .Instructions{
        width: 90%;
    }
    
    .cards .card .dots {
        right: 10px;
        top: -32px;
    }
}
@media (max-width:770px) {
    
.cards {
    padding-top: 15%;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    justify-content: center;
}
.cards .card{
 width: 90%;
 
}

}