

.contact{
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.contact form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.contact .t-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact div{
    width: 100%;
}



.contact  input {
    width: 100%;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white !important;
    background-color: #5d6065 !important;
}
.contact  input::placeholder {
    color: white ;
}

.contact  textarea{
    width: 100%;
    height: 260px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white !important;
    background-color: #5d6065 !important;
}


.contact  textarea::placeholder{
    color: white !important;
}

.contact button{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 5px 1px var(--min-color);
    border: none;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
}

.contact button:hover{
background-color: black;
color: white;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px green solid;
    height: 45px;
    margin-top: 20px;
    width: fit-content !important;
    padding: 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/* SocialMedia */
.SocialMedia{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
}

.SocialMedia img {
    position: relative !important;
width: 50px !important;
height: 50px !important;
}


@media (max-width:666px) {

.contact{
        width: 90% !important;
    }
    
}