

.card-AllProjects{
    width: 100%;
    height: 100%;

}

.card-AllProjects .AllProjects-cards {
    width: 100%;
    min-height:685px;
    display: flex;
    padding: 0 20px;
    gap: 55px 0;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top:145px;
}




.card {
    position: relative;
    margin: 5px;
    width: 420px;
    height: 230px;
    background-color: #1C1C1F;
    border-radius: 6px;
    cursor: pointer;
    overflow-x: clip;
    border: 1px solid #2D2D2F;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.card:hover {
    transform:scale(1.09) ;
    -webkit-transform:scale(1.09) ;
    -moz-transform:scale(1.09) ;
    -ms-transform:scale(1.09) ;
    -o-transform:scale(1.09) ;
}








.card .img-1{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card .title {
    background-color: #1C1C1F;
    position: absolute;
    top: -38px;
    left: -1px;
    width: 80%;
    padding: 4px;
    border-radius: 5px;
    text-align: justify;
    border: 1px solid;
    border-color: #2D2D2F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 1; 
}


.card .title .icon{
    width: 55px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0px;
    display: flex;
    justify-content: flex-end;
}

.card .dots {
    position: absolute;
    right: 5px;
    top: -30px;
    display: flex;
}

.card .dots .red {
    background-color: red;
    width: 10px;
    height: 10px;
    display: block;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px red;

}

.card .dots .green {
    background-color: #09b309;
    width: 10px;
    height: 10px;
    display: block;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px #09b309;
}

.card .dots .orange {
    background-color: orange;
    width: 10px;
    height: 10px;
    display: block;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px orange;

}

.more {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    z-index: 99;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    top: 105px;
    left: 35px;
    border: 0;
    border-radius: 24px;
    background: #1c1c1e;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.145), 0 11px 40px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.more:hover {
    width: 180px;
    padding: 0 10px 0 0;
}

.more .content-more {
    width: 200px;
    position: absolute;
}

.more .plus {
    margin-top: 4px;
    margin-left: 6px;
}


/* visit */
.card .visit{
    width: 100%;
    height: 100%;
    background: #0000008f;
    position: absolute;
    top: 0;
    left: -500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.AllProjects-cards .card:hover .visit{
    left: 0;
}
.card .visit a {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
color: white;
}

.card .visit a .ArrowUpRight{
    transform: translateY(6px);
    transition: 0.5s ease-in-out;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
}

.card .visit a:hover .ArrowUpRight{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}



@media (max-width:1277px) {
    .card {
        width: 45%;
    }
}

@media (max-width:845px) {


    .AllProjects-cards .Instructions{
        width: 90%;
    }
    
    .card .dots {
        right: 10px;
        top: -32px;
    }
}
@media (max-width:770px) {
    
.card{
 width: 90%;
 
}

}