.allBlog{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



/* start first-child  */
.allBlog .blog-card:first-child{
    width: 85%;
    height:40%;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.allBlog .blog-card:first-child .blog-img{
    width: 50% ;
    height: 100% !important;
    
}

.allBlog .blog-card:first-child .blog-img img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.allBlog .blog-card:first-child .blog-content{
    width: 50%;
    height: 100%;
    padding: 0 12px;
    display: flex
;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.allBlog .blog-card:first-child .blog-title{
    color: #ffff;
    margin-bottom: 20px;
}

.allBlog .blog-card:first-child .blog-des{
    text-align: justify;
    color: white;
    font-size: 20px;
    font-family: system-ui;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 8; 
    z-index: 2;
}



.allBlog .blog-card:first-child .icons{
    width: 111px !important;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 10px;
    position: sticky !important;
    margin-top: 5px;
    margin-bottom: 25px;
}


/* end first-child  */


.allBlog .blog-card{

    width: 28%;
    height: 28%;
    display: block;
    background-color: #1C1C1F ;
    border: 1px solid #2D2D2F;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.allBlog .blog-card:hover{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
.allBlog .blog-card .title {
    background-color: #1C1C1F;
    position: absolute;
    color: white;
    top: -48px;
    left: -1px;
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    text-align: justify;
    border: 1px solid;
    border-color: #2D2D2F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
        align-items: center;
        justify-content: space-between;
}



.allBlog .blog-card .title h2{
    width: 65%;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 1; 
}
.allBlog .blog-card .title .blog-date{
    color: #ffff;
    font-size: 15px;
}



.allBlog .test-span{
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
    background-image: radial-gradient(circle, var(--min-color) 1px, transparent 1px);
    background-size: 10px 10px;
    z-index: 1;
    position: absolute;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.allBlog .test-span::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20%;
    right: 10%;
    bottom: 10%;
    background: radial-gradient(circle, var(--minor-color), transparent 70%);
    border-radius: 10px;
    z-index: -1; 
}
.allBlog .test-span::after {
    content: "";
    width: 100%;
    height: 76%;
    position: absolute;
    top: 114px;
    left: -20%;
    right: 10%;
    bottom: 10%;
    transform: rotate(40deg);
    box-shadow: 0 0 114px 105px #1C1C1F;
    background-color: #1C1C1F;
    z-index: -1;
}



.allBlog .blog-card .blog-img{
    width: 100%;
    height: 60%;
    z-index: 2;
    position: relative;
}

.allBlog .blog-card .blog-img img{
    position: relative !important;
    width: 100%;
    border-radius: 5px 0 0 5px;
    
}
.allBlog .blog-card .blog-content{
    width: 100%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.allBlog .blog-card .blog-title{
    color: #ffff;
    margin-bottom: 5px;
    font-size: 26px;
}

.allBlog .blog-card .blog-des{
    text-align: justify;
    color: white;
    font-size: 18px;
    margin-top: 5px;
    font-family: system-ui;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    -webkit-line-clamp: 3; 
    z-index: 2;
}


.allBlog .blog-card .icons{
    top: 5px;
    width: 90px;
    position: absolute;
    display: flex;
        justify-content: flex-end;
    right: 0;
    z-index: 5;
}

.allBlog .lord-icon{
width: 45px !important;
height: 45px !important;
}



@media (max-width:1155px) {
    .allBlog {
        overflow-y: auto;
        padding-top: 100px;
    }
    .allBlog .blog-card{
        width: 90% !important;
        height: 40% !important;
        display: flex !important;
        margin-bottom: 20px !important;
        margin-top: 50px;

    }

    .allBlog .blog-card:first-child .blog-des{
        -webkit-line-clamp:5; 
    }
    

    .allBlog .blog-card .blog-img{
        width: 50% !important;
        height: 100% !important;
        
    }
    

    .allBlog .blog-card .blog-content{
        width: 50% !important;
        height: 100% !important;
        padding: 0 12px !important;
        display: flex !important;
        position: relative !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: flex-start !important;
        margin-top: 0 !important;
    }



    
    .allBlog .blog-card .icons{
        width: 111px !important;
        display: flex;
        justify-content: flex-start !important;
        align-items: center;
        gap: 10px;
        position: static !important;
        margin-top: -6px;
        margin-bottom: 25px;
    }
    


    .allBlog .blog-card .blog-des{
        text-align: justify;
        color: white;
        font-size: 20px;
        font-family: system-ui;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        -webkit-line-clamp: 5; 
        
    }
    
}


@media (max-width:640px) {
    .allBlog {
        padding-top: 65px;
    }
    .allBlog .blog-card .blog-img{
        position: absolute;
        left: 0 !important ;
        width: 100% !important;
        height: 100% !important;
        
    }
    .allBlog .blog-card .blog-content {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.463);
    }
}



/* height */


@media (max-height:600px) {
    .allBlog {
        overflow-y: auto;
        padding-top: 20px;
    }
    .allBlog .blog-card{
        width: 75% ;
        height: 65% !important;
        display: flex !important;
        margin-bottom: 20px !important;
        margin-top: 50px;

    }


    .allBlog .blog-card .blog-img{
        width: 50% ;
        height: 100% !important;
        
    } 
    
    .allBlog .blog-card .blog-img img{
        width: 100% !important;
        height: 100% !important;
        object-position: left;
    } 
    

    .allBlog .blog-card .blog-content{
        width: 50%;
        height: 100%;
        padding: 0 12px;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


    
    .allBlog .blog-card .icons{
        width: 111px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: static !important;
        margin-top: -6px;
        margin-bottom: 25px;
    }
    


    .allBlog .blog-card .blog-des{
        text-align: justify;
        color: white;
        font-size: 20px;
        font-family: system-ui;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        -webkit-line-clamp: 5; 
    }
    

}